* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #053300;
    animation: back-ani 10s linear infinite;
}

@keyframes back-ani {
    0% {
        background-color: #053300;
    }

    50% {
        background-color: #008a00;
    }

    100% {
        background-color: #053300;
    }
}

header {
    background-color: #aa99ff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: color 1.0s, transform 1.0s;
}

header h1:hover {
    color: darkcyan;
    transform: scaleX(2);
}

nav {
    position: sticky;
    top: 0;
    background-color: lightblue;
    margin-bottom: 1em;
    border-bottom: 4px solid white;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    display: block;
    padding: 24px;
    margin-right: 8px;
    background-color: #330000;
    width: 100px;
    color: white;
    transition: background-color 1.0s, width 2.0s, color 2.0s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    text-decoration: none;
}

nav a:hover {
    background-color: #ff0000;
    width: 200px;
    color: black;
}

.funnyaudio {
    /* display: inline-block; */
    float: right;
    padding: 9px 16px;
}

#spamman {
    height: 48px;
    width: 40px;
    transition: height 1.0s, width 1.0s;
}

#spamman:hover {
    height: 64px;
    width: 144px;
}

main {
    margin: 24px 6.25%;
    border: 4px solid black;
    padding: 1em;
    background-color: white;
    min-height: 360px;
    border-radius: 1em;
}

main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 0.1em;
}

.bottom-padding {
    padding-bottom: 1em;
}

#wow {
    transition: background-color 1.0s, color 1.0s, font-size 1.0s;
}

#wow:hover {
    background-color: maroon;
    color: white;
    font-size: x-large;
}

.comic {
    font-family: 'Comic Sans MS', 'Comic Sans', 'Chalkboard SE', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 0.25em;
    background-image: linear-gradient(90deg, red, orange, yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: color-shift 5s infinite linear;
}

@keyframes color-shift {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

#imgWrapper {
    display: block;
    width: 320px;
    height: 240px;
    margin: auto;
}

.img {
    position: absolute;
    width: 320px;
    height: 240px;
    object-fit: cover;
    overflow: hidden;
    transition: opacity 1s ease, width 1s ease, height 1s ease;
}

.img02 {
    opacity: 0;
    width: 300px;
    height: 200px;
}

#imgWrapper:hover .img02 {
    opacity: 1;
    width: 320px;
    height: 240px;
}

#imgWrapper:hover .img01 {
    opacity: 0;
    width: 360px;
    height: 270px;
}

#bouncer {
    transition: background-color 1.0s, border-radius 1.0s;
}

#bouncer:hover {
    background-color: hsl(271, 100%, 85%);
    border-radius: 0.667em;
}

main ul {
    margin-left: 1em;
}

.blink {
    animation: blinker 1s infinite;
}

@keyframes blinker {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

footer {
    padding: 1em 0;
    border-top: 4px solid white;
    background-color: black;
    text-align: center;
}

footer h1,
footer h2,
footer p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}