* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9d9ff;
    animation: 10000ms ease-in-out infinite color-change;
}

@keyframes color-change {
  0% {
    background-color: teal;
  }
  20% {
    background-color: gold;
  }
  40% {
    background-color: indianred;
  }
  60% {
    background-color: violet;
  }
  80% {
    background-color: green;
  }
  100% {
    background-color: teal;
  }
}

header {
    background-color: #c604c6;
    padding: 12px;
    text-align: center;
    border-bottom: 4px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    margin: 3em 5%;
    border: 4px solid black;
    background-color: white;
    min-height: 450px;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

main h1 {
    padding-bottom: 1em;
    text-align: center;
}

main p {
  padding-bottom: 0.75em;
  text-align: justify;
}

main img {
    padding: 0 1em 1em 0;
    float: center;
}

main iframe {
    padding: 0 0 1em 1em;
    float: center;
}

footer {
    background-color: white;
    padding: 12px;
    text-align: center;
    border-top: 4px solid black;
}