* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lavender;
}

#backgroundCanvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#wrapper {
    margin: 3em 7em;
    border: 4px solid black;
    border-radius: 16px;
    padding: 1em;
    background-color: white;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: gray;
    padding-bottom: 1em;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 0.5em 0;
}

.coolButton {
    margin: 1em 33.5vw;
    border: 0;
    line-height: 2.5;
    padding: 0 2em;
    font-size: 1rem;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 16px;
    background-color: tomato;
    transition: all 0.5s;
}
.coolButton:hover {
    margin: 0 26vw;
    background-color: red;
    font-size: 2rem;
}

.coolButton:active {
    background-color: darkred;
    transform: scale(99%);
}

#img1 {
    display: block;
    margin: auto;
    height: 360px;
    opacity: 0;
   transform: translate(0,200px);
   transition: all 1s;
}

#img1.show {
    opacity: 1;
   transform: translate(0,0);
}

#p5embed {
    display: block;
    margin: auto;
    width: 640px;
    height: 522px;
    border-radius: 16px;
}