* {
    margin: 0;
    padding: 0;
}

p, h1, h2, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    padding: 1rem 0;
    background-color: #dadaff;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #000069;
    margin-bottom: 1rem;
}

nav a {
    margin: 0 0.5rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #990000;
    padding: 1em;
    color: #eeeeee;
    transition: all 0.25s linear;
}

nav a:hover {
    margin: 0 0;
    background-color: lime;
    color: black;
}

nav a:active {
    background-color: green;
}

main {
    padding: 0.5rem;
}

main p, main h1, main h2{
    padding-bottom: 0.5rem;
}

#painting {
    width: 100%;
    margin-bottom: 1rem;
}

#blurbs {
    display: grid;
    grid-template-columns: 1fr;
}

footer {
    padding: 1em;
    background-color: #4b091f;
    text-align: center;
    color: white;
}

@media all and (min-width: 32rem) {
    header { 
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
    }
    nav { grid-template-columns: repeat(4, 1fr);}
}

@media all and (min-width: 50rem) {
    #painting {
        width: 50%;
        float: right;
        margin-left: 0.5rem;
    }
    main {
        max-width: 960px;
        margin: 0 auto;
    }
    #blurbs {
        padding-top: 0.5rem;
        border-top: 2px solid black;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
        border-bottom: 2px solid black;
        margin-bottom: 0.5rem;
    }
}